In [537]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [538]:
loan_test=pd.read_csv(r'C:\Users\Shweta\Downloads\loan_data_test.csv')

In [539]:
loan_train=pd.read_csv(r'C:\Users\Shweta\Downloads\loan_data_train.csv')

In [540]:
loan_test

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,24675,12000,11975,60 months,home_improvement,13.91%,NV,MORTGAGE,7083.33,705-709,7,3923,2,7 years
296,69456,5000,5000,36 months,debt_consolidation,17.22%,CA,OWN,4000.00,705-709,10,6023,0,10+ years
297,97954,4375,4375,36 months,credit_card,9.09%,CA,RENT,2916.67,670-674,9,6944,2,6 years
298,36931,13600,13600,60 months,credit_card,12.85%,MN,RENT,5651.33,675-679,13,24383,0,10+ years
299,34744,6000,6000,36 months,debt_consolidation,7.64%,IL,MORTGAGE,5184.75,675-679,8,14422,0,2 years

In [541]:
loan_train

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,74047.0,30000,30000,23.28%,60 months,other,12.10%,IL,MORTGAGE,7083.33,675-679,16,17969,1.0,10+ years
2196,63768.0,4200,4200,14.33%,60 months,car,14.16%,NJ,RENT,3850.00,700-704,4,5718,0.0,2 years
2197,94545.0,19800,19775,15.31%,60 months,debt_consolidation,15.03%,IL,MORTGAGE,6666.67,675-679,10,46879,3.0,6 years
2198,53635.0,18000,18000,20.99%,60 months,credit_card,11.63%,CA,RENT,9051.83,670-674,5,32394,2.0,4 years
2199,67953.0,7550,7550,10.16%,36 months,debt_consolidation,3.83%,CA,MORTGAGE,8333.33,710-714,10,10204,0.0,2 years

In [542]:
loan_train.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [543]:
loan_test['Interest.Rate']=np.nan

In [544]:
loan_test

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Interest.Rate
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year,NaN
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years,NaN
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years,NaN
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years,NaN
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,24675,12000,11975,60 months,home_improvement,13.91%,NV,MORTGAGE,7083.33,705-709,7,3923,2,7 years,NaN
296,69456,5000,5000,36 months,debt_consolidation,17.22%,CA,OWN,4000.00,705-709,10,6023,0,10+ years,NaN
297,97954,4375,4375,36 months,credit_card,9.09%,CA,RENT,2916.67,670-674,9,6944,2,6 years,NaN
298,36931,13600,13600,60 months,credit_card,12.85%,MN,RENT,5651.33,675-679,13,24383,0,10+ years,NaN
299,34744,6000,6000,36 months,debt_consolidation,7.64%,IL,MORTGAGE,5184.75,675-679,8,14422,0,2 years,NaN

In [545]:
loan_train['data']='train'
loan_test['data']='test'

In [546]:
loan_train.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length', 'data'],
      dtype='object')

In [547]:
loan_test.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Loan.Length',
       'Loan.Purpose', 'Debt.To.Income.Ratio', 'State', 'Home.Ownership',
       'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length', 'Interest.Rate', 'data'],
      dtype='object')

In [548]:
loan_test=loan_test[loan_train.columns]

In [549]:
loan_test

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,20093,5000,5000,NaN,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year,test
1,62445,18000,18000,NaN,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years,test
2,65248,7200,7200,NaN,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years,test
3,81822,7200,7200,NaN,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years,test
4,57923,22000,22000,NaN,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,24675,12000,11975,NaN,60 months,home_improvement,13.91%,NV,MORTGAGE,7083.33,705-709,7,3923,2,7 years,test
296,69456,5000,5000,NaN,36 months,debt_consolidation,17.22%,CA,OWN,4000.00,705-709,10,6023,0,10+ years,test
297,97954,4375,4375,NaN,36 months,credit_card,9.09%,CA,RENT,2916.67,670-674,9,6944,2,6 years,test
298,36931,13600,13600,NaN,60 months,credit_card,12.85%,MN,RENT,5651.33,675-679,13,24383,0,10+ years,test
299,34744,6000,6000,NaN,36 months,debt_consolidation,7.64%,IL,MORTGAGE,5184.75,675-679,8,14422,0,2 years,test

In [550]:
loan_data=pd.concat([loan_train,loan_test],axis=0)
loan_data

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,24675.0,12000,11975,NaN,60 months,home_improvement,13.91%,NV,MORTGAGE,7083.33,705-709,7,3923,2.0,7 years,test
296,69456.0,5000,5000,NaN,36 months,debt_consolidation,17.22%,CA,OWN,4000.00,705-709,10,6023,0.0,10+ years,test
297,97954.0,4375,4375,NaN,36 months,credit_card,9.09%,CA,RENT,2916.67,670-674,9,6944,2.0,6 years,test
298,36931.0,13600,13600,NaN,60 months,credit_card,12.85%,MN,RENT,5651.33,675-679,13,24383,0.0,10+ years,test
299,34744.0,6000,6000,NaN,36 months,debt_consolidation,7.64%,IL,MORTGAGE,5184.75,675-679,8,14422,0.0,2 years,test

In [551]:
loan_data.shape

(2500, 16)

In [552]:
loan_train.shape

(2200, 16)

In [553]:
loan_test.shape

(300, 16)

In [554]:
loan_data.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [555]:
loan_data

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,24675.0,12000,11975,NaN,60 months,home_improvement,13.91%,NV,MORTGAGE,7083.33,705-709,7,3923,2.0,7 years,test
296,69456.0,5000,5000,NaN,36 months,debt_consolidation,17.22%,CA,OWN,4000.00,705-709,10,6023,0.0,10+ years,test
297,97954.0,4375,4375,NaN,36 months,credit_card,9.09%,CA,RENT,2916.67,670-674,9,6944,2.0,6 years,test
298,36931.0,13600,13600,NaN,60 months,credit_card,12.85%,MN,RENT,5651.33,675-679,13,24383,0.0,10+ years,test
299,34744.0,6000,6000,NaN,36 months,debt_consolidation,7.64%,IL,MORTGAGE,5184.75,675-679,8,14422,0.0,2 years,test

In [556]:
loan_data.drop(['ID','Amount.Funded.By.Investors'],axis=1)

,Amount.Requested,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,24250,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,12000,NaN,60 months,home_improvement,13.91%,NV,MORTGAGE,7083.33,705-709,7,3923,2.0,7 years,test
296,5000,NaN,36 months,debt_consolidation,17.22%,CA,OWN,4000.00,705-709,10,6023,0.0,10+ years,test
297,4375,NaN,36 months,credit_card,9.09%,CA,RENT,2916.67,670-674,9,6944,2.0,6 years,test
298,13600,NaN,60 months,credit_card,12.85%,MN,RENT,5651.33,675-679,13,24383,0.0,10+ years,test
299,6000,NaN,36 months,debt_consolidation,7.64%,IL,MORTGAGE,5184.75,675-679,8,14422,0.0,2 years,test

In [557]:
for column in ['Debt.To.Income.Ratio','Interest.Rate']:
    loan_data[column]=loan_data[column].str.replace('%','')

In [558]:
loan_data.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [559]:
loan_data.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33,36 months,major_purchase,3.50,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29,36 months,credit_card,19.62,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23,60 months,credit_card,23.79,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train

In [560]:
#for i in loan_data:
    #if loan_data[i].dtypes==object:
        #try:
            #loan_data[i]=pd.to_numeric(loan_data[i])
        #except:
            #print(i,loan_data[i].dtypes)

In [561]:
loan_data.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [562]:
loan_data

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33,36 months,major_purchase,3.50,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29,36 months,credit_card,19.62,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23,60 months,credit_card,23.79,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,24675.0,12000,11975,NaN,60 months,home_improvement,13.91,NV,MORTGAGE,7083.33,705-709,7,3923,2.0,7 years,test
296,69456.0,5000,5000,NaN,36 months,debt_consolidation,17.22,CA,OWN,4000.00,705-709,10,6023,0.0,10+ years,test
297,97954.0,4375,4375,NaN,36 months,credit_card,9.09,CA,RENT,2916.67,670-674,9,6944,2.0,6 years,test
298,36931.0,13600,13600,NaN,60 months,credit_card,12.85,MN,RENT,5651.33,675-679,13,24383,0.0,10+ years,test
299,34744.0,6000,6000,NaN,36 months,debt_consolidation,7.64,IL,MORTGAGE,5184.75,675-679,8,14422,0.0,2 years,test

In [563]:
def get_non_numeric(series):
    non_numeric_elements = []
    for elem in series:
        try:
            float(elem)
        except:
            non_numeric_elements.append(elem)
    return(non_numeric_elements)

In [564]:
get_non_numeric(loan_data['Amount.Requested'])

['.', '.', '.', '.']

In [565]:
loan_data['Interest.Rate'].dtypes

dtype('O')

In [566]:
for col in ['Amount.Requested',
            'Open.CREDIT.Lines','Revolving.CREDIT.Balance','Interest.Rate','Debt.To.Income.Ratio']:
    loan_data[col]=pd.to_numeric(loan_data[col],errors='coerce')

In [567]:
loan_data.dtypes

ID                                float64
Amount.Requested                  float64
Amount.Funded.By.Investors         object
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [568]:
loan_data.dtypes

ID                                float64
Amount.Requested                  float64
Amount.Funded.By.Investors         object
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [569]:
get_non_numeric(loan_data['FICO.Range'])

['720-724',
 '710-714',
 '690-694',
 '710-714',
 '730-734',
 '785-789',
 '665-669',
 '735-739',
 '740-744',
 '765-769',
 '710-714',
 '800-804',
 '680-684',
 '690-694',
 '745-749',
 '745-749',
 '680-684',
 '660-664',
 '670-674',
 '720-724',
 '665-669',
 '705-709',
 '695-699',
 '695-699',
 '690-694',
 '705-709',
 '665-669',
 '715-719',
 '760-764',
 '685-689',
 '720-724',
 '695-699',
 '665-669',
 '735-739',
 '785-789',
 '660-664',
 '680-684',
 '695-699',
 '755-759',
 '685-689',
 '730-734',
 '670-674',
 '710-714',
 '675-679',
 '715-719',
 '710-714',
 '665-669',
 '730-734',
 '775-779',
 '740-744',
 '675-679',
 '670-674',
 '725-729',
 '660-664',
 '640-644',
 '675-679',
 '695-699',
 '670-674',
 '675-679',
 '670-674',
 '695-699',
 '670-674',
 '755-759',
 '695-699',
 '715-719',
 '790-794',
 '715-719',
 '705-709',
 '680-684',
 '690-694',
 '710-714',
 '665-669',
 '690-694',
 '695-699',
 '765-769',
 '725-729',
 '705-709',
 '680-684',
 '695-699',
 '770-774',
 '735-739',
 '685-689',
 '730-734',
 '700-704',
 '720-724',
 '690-694',
 '710-714',
 '710-714',
 '675-679',
 '750-754',
 '665-669',
 '750-754',
 '725-729',
 '690-694',
 '690-694',
 '785-789',
 '700-704',
 '735-739',
 '805-809',
 '695-699',
 '660-664',
 '685-689',
 '755-759',
 '710-714',
 '730-734',
 '690-694',
 '690-694',
 '750-754',
 '785-789',
 '675-679',
 '660-664',
 '665-669',
 '770-774',
 '720-724',
 '720-724',
 '710-714',
 '665-669',
 '660-664',
 '810-814',
 '710-714',
 '680-684',
 '670-674',
 '670-674',
 '690-694',
 '670-674',
 '730-734',
 '660-664',
 '675-679',
 '710-714',
 '670-674',
 '670-674',
 '740-744',
 '670-674',
 '705-709',
 '665-669',
 '700-704',
 '745-749',
 '670-674',
 '700-704',
 '660-664',
 '695-699',
 '710-714',
 '675-679',
 '745-749',
 '735-739',
 '715-719',
 '675-679',
 '665-669',
 '730-734',
 '755-759',
 '720-724',
 '815-819',
 '680-684',
 '740-744',
 '780-784',
 '680-684',
 '685-689',
 '720-724',
 '760-764',
 '700-704',
 '675-679',
 '765-769',
 '680-684',
 '705-709',
 '680-684',
 '705-709',
 '730-734',
 '670-674',
 '670-674',
 '740-744',
 '660-664',
 '670-674',
 '665-669',
 '720-724',
 '675-679',
 '675-679',
 '665-669',
 '730-734',
 '705-709',
 '705-709',
 '790-794',
 '715-719',
 '690-694',
 '690-694',
 '735-739',
 '790-794',
 '665-669',
 '685-689',
 '690-694',
 '675-679',
 '695-699',
 '680-684',
 '740-744',
 '725-729',
 '675-679',
 '670-674',
 '680-684',
 '720-724',
 '670-674',
 '660-664',
 '675-679',
 '705-709',
 '670-674',
 '770-774',
 '705-709',
 '660-664',
 '670-674',
 '690-694',
 '745-749',
 '680-684',
 '665-669',
 '670-674',
 '755-759',
 '735-739',
 '755-759',
 '725-729',
 '700-704',
 '705-709',
 '660-664',
 '685-689',
 '695-699',
 '725-729',
 '755-759',
 '690-694',
 '660-664',
 '705-709',
 '670-674',
 '820-824',
 '725-729',
 '715-719',
 '745-749',
 '715-719',
 '700-704',
 '660-664',
 '790-794',
 '715-719',
 '740-744',
 '750-754',
 '675-679',
 '695-699',
 '725-729',
 '670-674',
 '680-684',
 '665-669',
 '670-674',
 '745-749',
 '755-759',
 '705-709',
 '700-704',
 '740-744',
 '665-669',
 '660-664',
 '750-754',
 '690-694',
 '665-669',
 '660-664',
 '675-679',
 '715-719',
 '675-679',
 '670-674',
 '725-729',
 '690-694',
 '715-719',
 '735-739',
 '670-674',
 '705-709',
 '740-744',
 '730-734',
 '725-729',
 '720-724',
 '710-714',
 '725-729',
 '750-754',
 '690-694',
 '675-679',
 '795-799',
 '790-794',
 '720-724',
 '720-724',
 '660-664',
 '700-704',
 '705-709',
 '665-669',
 '740-744',
 '720-724',
 '730-734',
 '725-729',
 '720-724',
 '765-769',
 '730-734',
 '730-734',
 '685-689',
 '685-689',
 '725-729',
 '780-784',
 '680-684',
 '660-664',
 '715-719',
 '670-674',
 '670-674',
 '660-664',
 '665-669',
 '665-669',
 '660-664',
 '805-809',
 '740-744',
 '695-699',
 '670-674',
 '675-679',
 '740-744',
 '665-669',
 '695-699',
 '795-799',
 '660-664',
 '700-704',
 '675-679',
 '675-679',
 '745-749',
 '675-679',
 '665-669',
 '715-719',
 '665-669',
 '665-669',
 '725-729',
 '695-699',
 '690-694',
 '670-674',
 '710-714',
 '695-699',
 '690-694',
 '760-764',
 '680-684',
 '775-779',
 '695-699',
 '735-739',
 '665-669',
 '700-704',
 '695-699',
 '680-684',
 '690-694',
 '780-784',
 '695-699',
 '680-684',
 '760-764',
 '740-744',
 '665-669',
 '710-714',
 '660-664',
 '690-694',
 '750-754',
 '680-684',
 '795-799',
 '710-714',
 '715-719',
 '695-699',
 '670-674',
 '710-714',
 '670-674',
 '690-694',
 '685-689',
 '670-674',
 '720-724',
 '705-709',
 '800-804',
 '800-804',
 '670-674',
 '670-674',
 '770-774',
 '675-679',
 '810-814',
 '680-684',
 '660-664',
 '785-789',
 '675-679',
 '795-799',
 '775-779',
 '700-704',
 '695-699',
 '675-679',
 '700-704',
 '670-674',
 '805-809',
 '730-734',
 '800-804',
 '765-769',
 '680-684',
 '670-674',
 '680-684',
 '710-714',
 '670-674',
 '705-709',
 '725-729',
 '710-714',
 '670-674',
 '695-699',
 '735-739',
 '760-764',
 '670-674',
 '745-749',
 '745-749',
 '760-764',
 '715-719',
 '665-669',
 '700-704',
 '690-694',
 '660-664',
 '755-759',
 '690-694',
 '745-749',
 '740-744',
 '730-734',
 '710-714',
 '665-669',
 '715-719',
 '745-749',
 '720-724',
 '715-719',
 '685-689',
 '700-704',
 '735-739',
 '670-674',
 '735-739',
 '695-699',
 '700-704',
 '700-704',
 '660-664',
 '665-669',
 '665-669',
 '760-764',
 '675-679',
 '665-669',
 '735-739',
 '675-679',
 '680-684',
 '730-734',
 '695-699',
 '675-679',
 '690-694',
 '690-694',
 '700-704',
 '665-669',
 '675-679',
 '675-679',
 '715-719',
 '660-664',
 '690-694',
 '810-814',
 '710-714',
 '715-719',
 '715-719',
 '720-724',
 '765-769',
 '710-714',
 '720-724',
 '695-699',
 '680-684',
 '705-709',
 '680-684',
 '675-679',
 '675-679',
 '660-664',
 '805-809',
 '715-719',
 '670-674',
 '800-804',
 '670-674',
 '670-674',
 '700-704',
 '775-779',
 '715-719',
 '680-684',
 '675-679',
 '675-679',
 '725-729',
 '720-724',
 '665-669',
 '780-784',
 '720-724',
 '730-734',
 '660-664',
 '750-754',
 '715-719',
 '670-674',
 '705-709',
 '705-709',
 '705-709',
 '770-774',
 '675-679',
 '745-749',
 '730-734',
 '790-794',
 '730-734',
 '670-674',
 '760-764',
 '685-689',
 '690-694',
 '760-764',
 '725-729',
 '735-739',
 '705-709',
 '715-719',
 '760-764',
 '695-699',
 '670-674',
 '665-669',
 '720-724',
 '660-664',
 '660-664',
 '730-734',
 '675-679',
 '665-669',
 '685-689',
 '675-679',
 '735-739',
 '710-714',
 '755-759',
 '725-729',
 '695-699',
 '690-694',
 '755-759',
 '705-709',
 '675-679',
 '725-729',
 '705-709',
 '685-689',
 '665-669',
 '680-684',
 '745-749',
 '730-734',
 '670-674',
 '730-734',
 '665-669',
 '735-739',
 '670-674',
 '785-789',
 '720-724',
 '745-749',
 '720-724',
 '730-734',
 '645-649',
 '690-694',
 '660-664',
 '700-704',
 '730-734',
 '665-669',
 '685-689',
 '685-689',
 '690-694',
 '680-684',
 '705-709',
 '725-729',
 '710-714',
 '705-709',
 '785-789',
 '735-739',
 '675-679',
 '740-744',
 '690-694',
 '700-704',
 '695-699',
 '660-664',
 '755-759',
 '790-794',
 '690-694',
 '755-759',
 '675-679',
 '710-714',
 '780-784',
 '725-729',
 '715-719',
 '660-664',
 '780-784',
 '700-704',
 '750-754',
 '750-754',
 '665-669',
 '675-679',
 '680-684',
 '695-699',
 '680-684',
 '660-664',
 '660-664',
 '765-769',
 '690-694',
 '715-719',
 '685-689',
 '750-754',
 '735-739',
 '715-719',
 '720-724',
 '670-674',
 '700-704',
 '760-764',
 '685-689',
 '720-724',
 '795-799',
 '680-684',
 '730-734',
 '745-749',
 '670-674',
 '695-699',
 '730-734',
 '775-779',
 '675-679',
 '725-729',
 '695-699',
 '680-684',
 '670-674',
 '675-679',
 '660-664',
 '695-699',
 '750-754',
 '690-694',
 '670-674',
 '770-774',
 '730-734',
 '730-734',
 '710-714',
 '700-704',
 '750-754',
 '695-699',
 '665-669',
 '710-714',
 '725-729',
 '735-739',
 '740-744',
 '720-724',
 '675-679',
 '770-774',
 '695-699',
 '680-684',
 '710-714',
 '720-724',
 '735-739',
 '695-699',
 '680-684',
 '665-669',
 '685-689',
 '695-699',
 '775-779',
 '735-739',
 '680-684',
 '755-759',
 '680-684',
 '720-724',
 '780-784',
 '660-664',
 '760-764',
 '720-724',
 '675-679',
 '790-794',
 '675-679',
 '770-774',
 '710-714',
 '705-709',
 '660-664',
 '730-734',
 '750-754',
 '675-679',
 '750-754',
 '780-784',
 '670-674',
 '695-699',
 '745-749',
 '710-714',
 '715-719',
 '670-674',
 '675-679',
 '665-669',
 '670-674',
 '700-704',
 '695-699',
 '710-714',
 '765-769',
 '710-714',
 '735-739',
 '720-724',
 '710-714',
 '775-779',
 '780-784',
 '665-669',
 '690-694',
 '695-699',
 '710-714',
 '695-699',
 '715-719',
 '705-709',
 '665-669',
 '670-674',
 '755-759',
 '720-724',
 '705-709',
 '715-719',
 '750-754',
 '740-744',
 '700-704',
 '730-734',
 '785-789',
 '690-694',
 '670-674',
 '690-694',
 '690-694',
 '665-669',
 '695-699',
 '765-769',
 '785-789',
 '695-699',
 '690-694',
 '725-729',
 '695-699',
 '700-704',
 '670-674',
 '730-734',
 '730-734',
 '685-689',
 '675-679',
 '670-674',
 '675-679',
 '750-754',
 '665-669',
 '705-709',
 '690-694',
 '745-749',
 '700-704',
 '760-764',
 '680-684',
 '685-689',
 '705-709',
 '685-689',
 '700-704',
 '670-674',
 '665-669',
 '680-684',
 '680-684',
 '760-764',
 '675-679',
 '690-694',
 '735-739',
 '680-684',
 '715-719',
 '665-669',
 '685-689',
 '695-699',
 '675-679',
 '705-709',
 '680-684',
 '705-709',
 '700-704',
 '775-779',
 '715-719',
 '700-704',
 '695-699',
 '675-679',
 '720-724',
 '750-754',
 '710-714',
 '665-669',
 '675-679',
 '705-709',
 '730-734',
 '695-699',
 '700-704',
 '680-684',
 '715-719',
 '690-694',
 '695-699',
 '720-724',
 '675-679',
 '695-699',
 '780-784',
 '685-689',
 '780-784',
 '725-729',
 '710-714',
 '765-769',
 '705-709',
 '795-799',
 '660-664',
 '760-764',
 '675-679',
 '670-674',
 '690-694',
 '690-694',
 '710-714',
 '760-764',
 '660-664',
 '765-769',
 '685-689',
 '730-734',
 '715-719',
 '730-734',
 '700-704',
 '700-704',
 '685-689',
 '690-694',
 '675-679',
 '740-744',
 '720-724',
 '670-674',
 '790-794',
 '705-709',
 '660-664',
 '670-674',
 '705-709',
 '715-719',
 '765-769',
 '695-699',
 '680-684',
 '665-669',
 '745-749',
 '700-704',
 '685-689',
 '675-679',
 '725-729',
 '685-689',
 '665-669',
 '770-774',
 '780-784',
 '735-739',
 '695-699',
 '710-714',
 '685-689',
 '685-689',
 '670-674',
 '695-699',
 '680-684',
 '685-689',
 '670-674',
 '685-689',
 '700-704',
 '780-784',
 '660-664',
 '680-684',
 '665-669',
 '720-724',
 '715-719',
 '700-704',
 '740-744',
 '690-694',
 '665-669',
 '675-679',
 '790-794',
 '730-734',
 '675-679',
 '695-699',
 '690-694',
 '735-739',
 '745-749',
 '695-699',
 '680-684',
 '685-689',
 '700-704',
 '800-804',
 '705-709',
 '705-709',
 '755-759',
 '700-704',
 '685-689',
 '665-669',
 '735-739',
 '700-704',
 '735-739',
 '685-689',
 '675-679',
 '790-794',
 '735-739',
 '705-709',
 '725-729',
 '715-719',
 '665-669',
 '700-704',
 '720-724',
 '665-669',
 '780-784',
 '785-789',
 '705-709',
 '705-709',
 '715-719',
 '670-674',
 '715-719',
 '725-729',
 '695-699',
 '690-694',
 '710-714',
 '690-694',
 '690-694',
 '730-734',
 '685-689',
 '685-689',
 '680-684',
 '685-689',
 '745-749',
 '665-669',
 '680-684',
 '710-714',
 '670-674',
 '680-684',
 '700-704',
 '675-679',
 '725-729',
 '810-814',
 '755-759',
 '680-684',
 '695-699',
 '665-669',
 '670-674',
 '690-694',
 '685-689',
 '755-759',
 '655-659',
 '735-739',
 '700-704',
 '665-669',
 '680-684',
 '675-679',
 '680-684',
 '745-749',
 '730-734',
 '760-764',
 '700-704',
 '725-729',
 '705-709',
 '670-674',
 '765-769',
 '670-674',
 '750-754',
 '780-784',
 '670-674',
 '680-684',
 '705-709',
 '660-664',
 '715-719',
 '660-664',
 '735-739',
 '710-714',
 '660-664',
 '695-699',
 '710-714',
 '680-684',
 '730-734',
 '700-704',
 '720-724',
 '695-699',
 '720-724',
 '695-699',
 '710-714',
 '710-714',
 '720-724',
 '695-699',
 '660-664',
 '700-704',
 '760-764',
 '715-719',
 '660-664',
 '720-724',
 '665-669',
 '730-734',
 '680-684',
 '680-684',
 '700-704',
 '660-664',
 '660-664',
 '675-679',
 '690-694',
 '745-749',
 '685-689',
 '745-749',
 '680-684',
 '755-759',
 '740-744',
 '760-764',
 '760-764',
 '665-669',
 '685-689',
 '695-699',
 '700-704',
 '790-794',
 '675-679',
 '680-684',
 '705-709',
 '695-699',
 '670-674',
 '785-789',
 '680-684',
 '685-689',
 '750-754',
 '700-704',
 '695-699',
 '745-749',
 '720-724',
 '685-689',
 '735-739',
 '700-704',
 '720-724',
 '675-679',
 '690-694',
 '675-679',
 '705-709',
 '745-749',
 '675-679',
 ...]

In [570]:
loan_data["FICO.Range"].dtypes

dtype('O')

In [571]:
k=loan_data['FICO.Range'].str.split('-',expand=True).astype(float)

In [572]:
k

         0      1
0    720.0  724.0
1    710.0  714.0
2    690.0  694.0
3    710.0  714.0
4    730.0  734.0
..     ...    ...
295  705.0  709.0
296  705.0  709.0
297  670.0  674.0
298  675.0  679.0
299  675.0  679.0

[2500 rows x 2 columns]

In [573]:
loan_data['FICO.Range']=0.5*(k[0]+k[1])

In [574]:
loan_data['FICO.Range']

0      722.0
1      712.0
2      692.0
3      712.0
4      732.0
       ...
295    707.0
296    707.0
297    672.0
298    677.0
299    677.0
Name: FICO.Range, Length: 2500, dtype: float64

In [575]:
loan_data['Home.Ownership'].value_counts()

MORTGAGE    1147
RENT        1146
OWN          200
OTHER          5
NONE           1
Name: Home.Ownership, dtype: int64

In [576]:
loan_data['Home.Ownership']=loan_data['Home.Ownership'].str.replace('OTHER','RENT')

In [577]:
loan_data['Home.Ownership']=loan_data['Home.Ownership'].str.replace('NONE','RENT')

In [578]:
loan_data['Home.Ownership'].value_counts()

RENT        1152
MORTGAGE    1147
OWN          200
Name: Home.Ownership, dtype: int64

In [579]:
loan_data['Home.Ownership'].dtypes

dtype('O')

In [580]:
dumy=pd.get_dummies(loan_data['Home.Ownership'],prefix='Ho')

In [581]:
dumy

     Ho_MORTGAGE  Ho_OWN  Ho_RENT
0              1       0        0
1              1       0        0
2              0       1        0
3              1       0        0
4              1       0        0
..           ...     ...      ...
295            1       0        0
296            0       1        0
297            0       0        1
298            0       0        1
299            1       0        0

[2500 rows x 3 columns]

In [582]:
loan_data=pd.concat([loan_data,dumy],axis=1)

In [583]:
loan_data.head(3)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data,Ho_MORTGAGE,Ho_OWN,Ho_RENT
0,79542.0,25000.0,25000,18.49,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,722.0,11.0,15210.0,3.0,5 years,train,1,0,0
1,75473.0,19750.0,19750,17.27,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,712.0,14.0,19070.0,3.0,4 years,train,1,0,0
2,67265.0,2100.0,2100,14.33,36 months,major_purchase,3.50,LA,OWN,1000.00,692.0,13.0,893.0,1.0,< 1 year,train,0,1,0

In [584]:
del loan_data['Home.Ownership']

In [585]:
loan_data.head(3)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data,Ho_MORTGAGE,Ho_OWN,Ho_RENT
0,79542.0,25000.0,25000,18.49,60 months,debt_consolidation,27.56,VA,8606.56,722.0,11.0,15210.0,3.0,5 years,train,1,0,0
1,75473.0,19750.0,19750,17.27,60 months,debt_consolidation,13.39,NY,6737.50,712.0,14.0,19070.0,3.0,4 years,train,1,0,0
2,67265.0,2100.0,2100,14.33,36 months,major_purchase,3.50,LA,1000.00,692.0,13.0,893.0,1.0,< 1 year,train,0,1,0

In [586]:
loan_data.dtypes

ID                                float64
Amount.Requested                  float64
Amount.Funded.By.Investors         object
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Monthly.Income                    float64
FICO.Range                        float64
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
Ho_MORTGAGE                         uint8
Ho_OWN                              uint8
Ho_RENT                             uint8
dtype: object

In [587]:
loan_data.drop(['Amount.Funded.By.Investors','ID'],axis=1,inplace=True)

In [588]:
loan_data.dtypes

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Monthly.Income                    float64
FICO.Range                        float64
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
Ho_MORTGAGE                         uint8
Ho_OWN                              uint8
Ho_RENT                             uint8
dtype: object

In [589]:
loan_data['Employment.Length'].value_counts()

10+ years    653
< 1 year     249
2 years      243
3 years      235
5 years      202
4 years      191
1 year       177
6 years      163
7 years      127
8 years      108
9 years       72
.              2
Name: Employment.Length, dtype: int64

In [590]:
loan_data['Employment.Length']=loan_data['Employment.Length'].str.replace('.',"10")

loan_data['Employment.Length']=loan_data['Employment.Length'].str.replace('years',"")

loan_data['Employment.Length']=loan_data['Employment.Length'].str.replace('year',"")

loan_data['Employment.Length']=loan_data['Employment.Length'].str.replace('10\+',"10")

loan_data['Employment.Length']=loan_data['Employment.Length'].str.replace('< 1',"0.5")

loan_data['Employment.Length'] = pd.to_numeric(loan_data['Employment.Length'],errors = 'coerce')

In [591]:
loan_data.head()

,Amount.Requested,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data,Ho_MORTGAGE,Ho_OWN,Ho_RENT
0,25000.0,18.49,60 months,debt_consolidation,27.56,VA,8606.56,722.0,11.0,15210.0,3.0,5.0,train,1,0,0
1,19750.0,17.27,60 months,debt_consolidation,13.39,NY,6737.50,712.0,14.0,19070.0,3.0,4.0,train,1,0,0
2,2100.0,14.33,36 months,major_purchase,3.50,LA,1000.00,692.0,13.0,893.0,1.0,0.5,train,0,1,0
3,28000.0,16.29,36 months,credit_card,19.62,NV,7083.33,712.0,12.0,38194.0,1.0,10.0,train,1,0,0
4,24250.0,12.23,60 months,credit_card,23.79,OH,5833.33,732.0,6.0,31061.0,2.0,10.0,train,1,0,0

In [592]:
loan_data.dtypes

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Monthly.Income                    float64
FICO.Range                        float64
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                 float64
data                               object
Ho_MORTGAGE                         uint8
Ho_OWN                              uint8
Ho_RENT                             uint8
dtype: object

In [593]:
loan_data.head()

,Amount.Requested,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data,Ho_MORTGAGE,Ho_OWN,Ho_RENT
0,25000.0,18.49,60 months,debt_consolidation,27.56,VA,8606.56,722.0,11.0,15210.0,3.0,5.0,train,1,0,0
1,19750.0,17.27,60 months,debt_consolidation,13.39,NY,6737.50,712.0,14.0,19070.0,3.0,4.0,train,1,0,0
2,2100.0,14.33,36 months,major_purchase,3.50,LA,1000.00,692.0,13.0,893.0,1.0,0.5,train,0,1,0
3,28000.0,16.29,36 months,credit_card,19.62,NV,7083.33,712.0,12.0,38194.0,1.0,10.0,train,1,0,0
4,24250.0,12.23,60 months,credit_card,23.79,OH,5833.33,732.0,6.0,31061.0,2.0,10.0,train,1,0,0

In [594]:
cat_cols=loan_data.select_dtypes(['object']).columns

In [595]:
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'data'], dtype='object')

In [596]:
loan_data['Loan.Length'].value_counts()

36 months    1950
60 months     548
.               1
Name: Loan.Length, dtype: int64

In [597]:
loan_data['Loan.Length'].value_counts()

loan_data.loc[loan_data['Loan.Length']=='.','Loan.Length'] = '36 months'

loan_data['loan_period'] = 0

loan_data.loc[loan_data['Loan.Length']=='60 months','loan_period'] = 1

del loan_data['Loan.Length']

In [598]:
loan_data.head()

,Amount.Requested,Interest.Rate,Loan.Purpose,Debt.To.Income.Ratio,State,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data,Ho_MORTGAGE,Ho_OWN,Ho_RENT,loan_period
0,25000.0,18.49,debt_consolidation,27.56,VA,8606.56,722.0,11.0,15210.0,3.0,5.0,train,1,0,0,1
1,19750.0,17.27,debt_consolidation,13.39,NY,6737.50,712.0,14.0,19070.0,3.0,4.0,train,1,0,0,1
2,2100.0,14.33,major_purchase,3.50,LA,1000.00,692.0,13.0,893.0,1.0,0.5,train,0,1,0,0
3,28000.0,16.29,credit_card,19.62,NV,7083.33,712.0,12.0,38194.0,1.0,10.0,train,1,0,0,0
4,24250.0,12.23,credit_card,23.79,OH,5833.33,732.0,6.0,31061.0,2.0,10.0,train,1,0,0,1

In [599]:
loan_data['Loan.Purpose'].value_counts()

debt_consolidation    1307
credit_card            444
other                  200
home_improvement       152
major_purchase         101
small_business          87
car                     50
wedding                 39
medical                 30
moving                  29
vacation                21
house                   20
educational             15
renewable_energy         4
Name: Loan.Purpose, dtype: int64

In [600]:
k = pd.get_dummies(loan_data['Loan.Purpose'],prefix ='Loan_purpose')

In [601]:
loan_data.shape

loan_data = pd.concat([loan_data,k],axis=1)

loan_data.drop(['Loan.Purpose'],axis=1,inplace=True)

In [602]:
loan_data.head()

,Amount.Requested,Interest.Rate,Debt.To.Income.Ratio,State,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,...,Loan_purpose_home_improvement,Loan_purpose_house,Loan_purpose_major_purchase,Loan_purpose_medical,Loan_purpose_moving,Loan_purpose_other,Loan_purpose_renewable_energy,Loan_purpose_small_business,Loan_purpose_vacation,Loan_purpose_wedding
0,25000.0,18.49,27.56,VA,8606.56,722.0,11.0,15210.0,3.0,5.0,...,0,0,0,0,0,0,0,0,0,0
1,19750.0,17.27,13.39,NY,6737.50,712.0,14.0,19070.0,3.0,4.0,...,0,0,0,0,0,0,0,0,0,0
2,2100.0,14.33,3.50,LA,1000.00,692.0,13.0,893.0,1.0,0.5,...,0,0,1,0,0,0,0,0,0,0
3,28000.0,16.29,19.62,NV,7083.33,712.0,12.0,38194.0,1.0,10.0,...,0,0,0,0,0,0,0,0,0,0
4,24250.0,12.23,23.79,OH,5833.33,732.0,6.0,31061.0,2.0,10.0,...,0,0,0,0,0,0,0,0,0,0

In [603]:
loan_data['State'].nunique()

47

In [604]:
loan_data['State'].value_counts()

CA    433
NY    255
TX    174
FL    169
IL    101
GA     97
PA     96
NJ     94
VA     78
MA     73
OH     71
MD     68
NC     64
CO     61
WA     58
CT     50
AZ     46
MI     45
MN     38
AL     38
MO     33
NV     32
OR     30
SC     28
WI     26
KY     23
LA     22
KS     21
OK     21
UT     16
RI     15
NH     15
WV     14
AR     13
NM     13
HI     12
DC     11
AK     11
DE      8
MT      7
VT      5
WY      4
SD      4
IN      3
.       1
MS      1
IA      1
Name: State, dtype: int64

In [605]:
del loan_data['State']

In [606]:
loan_data.dtypes

Amount.Requested                   float64
Interest.Rate                      float64
Debt.To.Income.Ratio               float64
Monthly.Income                     float64
FICO.Range                         float64
Open.CREDIT.Lines                  float64
Revolving.CREDIT.Balance           float64
Inquiries.in.the.Last.6.Months     float64
Employment.Length                  float64
data                                object
Ho_MORTGAGE                          uint8
Ho_OWN                               uint8
Ho_RENT                              uint8
loan_period                          int64
Loan_purpose_car                     uint8
Loan_purpose_credit_card             uint8
Loan_purpose_debt_consolidation      uint8
Loan_purpose_educational             uint8
Loan_purpose_home_improvement        uint8
Loan_purpose_house                   uint8
Loan_purpose_major_purchase          uint8
Loan_purpose_medical                 uint8
Loan_purpose_moving                  uint8
Loan_purpose_other                   uint8
Loan_purpose_renewable_energy        uint8
Loan_purpose_small_business          uint8
Loan_purpose_vacation                uint8
Loan_purpose_wedding                 uint8
dtype: object

In [607]:
loan_data.isnull().sum()

Amount.Requested                     5
Interest.Rate                      300
Debt.To.Income.Ratio                 1
Monthly.Income                       3
FICO.Range                           0
Open.CREDIT.Lines                    9
Revolving.CREDIT.Balance             5
Inquiries.in.the.Last.6.Months       3
Employment.Length                   78
data                                 0
Ho_MORTGAGE                          0
Ho_OWN                               0
Ho_RENT                              0
loan_period                          0
Loan_purpose_car                     0
Loan_purpose_credit_card             0
Loan_purpose_debt_consolidation      0
Loan_purpose_educational             0
Loan_purpose_home_improvement        0
Loan_purpose_house                   0
Loan_purpose_major_purchase          0
Loan_purpose_medical                 0
Loan_purpose_moving                  0
Loan_purpose_other                   0
Loan_purpose_renewable_energy        0
Loan_purpose_small_business          0
Loan_purpose_vacation                0
Loan_purpose_wedding                 0
dtype: int64

In [608]:
for col in loan_data.columns:
    if (col not in ['Interest.Rate','data'])& (loan_data[col].isnull().sum()>0):
        mean_val = loan_data.loc[loan_data['data']=='train',col].mean()
        loan_data.loc[loan_data[col].isnull(),col] = mean_val

In [609]:
loan_data.isnull().sum()

Amount.Requested                     0
Interest.Rate                      300
Debt.To.Income.Ratio                 0
Monthly.Income                       0
FICO.Range                           0
Open.CREDIT.Lines                    0
Revolving.CREDIT.Balance             0
Inquiries.in.the.Last.6.Months       0
Employment.Length                    0
data                                 0
Ho_MORTGAGE                          0
Ho_OWN                               0
Ho_RENT                              0
loan_period                          0
Loan_purpose_car                     0
Loan_purpose_credit_card             0
Loan_purpose_debt_consolidation      0
Loan_purpose_educational             0
Loan_purpose_home_improvement        0
Loan_purpose_house                   0
Loan_purpose_major_purchase          0
Loan_purpose_medical                 0
Loan_purpose_moving                  0
Loan_purpose_other                   0
Loan_purpose_renewable_energy        0
Loan_purpose_small_business          0
Loan_purpose_vacation                0
Loan_purpose_wedding                 0
dtype: int64

In [610]:
loan_data.loc[(loan_data['data']=='train') & (loan_data['Monthly.Income']>80000),:]
loan_data.drop([1621],axis=0,inplace=True)

In [611]:
loan_data.loc[(loan_data['data']=='train') & (loan_data['Open.CREDIT.Lines']>35),:]
loan_data.drop([2117],axis=0,inplace=True)

In [612]:
loan_data.loc[loan_data['Revolving.CREDIT.Balance']>=150000,'Revolving.CREDIT.Balance'] = 150000

In [613]:
loan_train = loan_data.loc[loan_data['data']=='train']

del loan_train['data']

loan_test = loan_data.loc[loan_data['data']=='test']

loan_test.drop(['Interest.Rate','data'],axis=1,inplace=True)

In [614]:
loan_test

,Amount.Requested,Debt.To.Income.Ratio,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Ho_MORTGAGE,Ho_OWN,...,Loan_purpose_home_improvement,Loan_purpose_house,Loan_purpose_major_purchase,Loan_purpose_medical,Loan_purpose_moving,Loan_purpose_other,Loan_purpose_renewable_energy,Loan_purpose_small_business,Loan_purpose_vacation,Loan_purpose_wedding
0,5000.0,12.59,4416.67,692.0,13.0,7686.0,0.0,0.5,0,0,...,0,0,0,0,1,0,0,0,0,0
1,18000.0,4.93,5258.50,712.0,6.0,11596.0,0.0,10.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7200.0,25.16,3750.00,752.0,13.0,7283.0,0.0,6.0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,7200.0,17.27,3416.67,792.0,14.0,4838.0,0.0,10.0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,22000.0,18.28,6083.33,722.0,9.0,20181.0,0.0,8.0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,12000.0,13.91,7083.33,707.0,7.0,3923.0,2.0,7.0,1,0,...,1,0,0,0,0,0,0,0,0,0
296,5000.0,17.22,4000.00,707.0,10.0,6023.0,0.0,10.0,0,1,...,0,0,0,0,0,0,0,0,0,0
297,4375.0,9.09,2916.67,672.0,9.0,6944.0,2.0,6.0,0,0,...,0,0,0,0,0,0,0,0,0,0
298,13600.0,12.85,5651.33,677.0,13.0,24383.0,0.0,10.0,0,0,...,0,0,0,0,0,0,0,0,0,0
299,6000.0,7.64,5184.75,677.0,8.0,14422.0,0.0,2.0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [615]:
loan_train.shape, loan_test.shape

((2198, 27), (300, 26))

In [616]:
from sklearn.model_selection import train_test_split

In [617]:
ld_new_train,ld_val = train_test_split(loan_train,test_size=0.2,random_state = 25)

In [618]:
ld_new_train.shape, ld_val.shape

((1758, 27), (440, 27))

In [619]:
ld_val

,Amount.Requested,Interest.Rate,Debt.To.Income.Ratio,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Ho_MORTGAGE,...,Loan_purpose_home_improvement,Loan_purpose_house,Loan_purpose_major_purchase,Loan_purpose_medical,Loan_purpose_moving,Loan_purpose_other,Loan_purpose_renewable_energy,Loan_purpose_small_business,Loan_purpose_vacation,Loan_purpose_wedding
1714,7200.0,7.90,7.98,5666.67,722.0,5.0,8783.0,0.0,3.0,0,...,0,0,0,0,0,0,0,0,0,0
1005,7000.0,12.42,15.11,7083.33,687.0,15.0,16049.0,2.0,10.0,0,...,0,0,0,0,0,0,0,0,0,0
2119,14000.0,9.99,16.84,4583.33,752.0,4.0,25.0,0.0,2.0,0,...,0,0,0,0,0,0,0,0,0,0
977,6000.0,12.12,7.40,5000.00,677.0,6.0,14045.0,0.0,2.0,1,...,0,0,1,0,0,0,0,0,0,0
1846,28000.0,19.42,4.56,10813.17,687.0,8.0,9397.0,3.0,10.0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,9000.0,6.03,5.87,8333.33,777.0,9.0,1717.0,0.0,1.0,1,...,0,0,0,0,0,0,0,0,0,0
1356,25000.0,16.63,18.46,8000.00,682.0,11.0,39502.0,0.0,10.0,0,...,0,0,0,0,0,0,0,0,0,0
2121,21850.0,18.79,20.32,4400.00,682.0,7.0,9171.0,0.0,4.0,0,...,0,0,0,0,0,0,0,0,0,0
1280,11200.0,7.91,13.07,8500.00,722.0,9.0,5439.0,1.0,3.0,1,...,0,0,0,0,0,0,0,0,0,0
544,8000.0,17.27,8.60,1833.33,667.0,7.0,2963.0,1.0,3.0,1,...,0,0,0,0,0,0,0,0,0,0

In [620]:
train_features = ld_new_train.drop('Interest.Rate',axis=1)

train_targets = ld_new_train['Interest.Rate'] 

val_features = ld_val.drop('Interest.Rate',axis=1) 

val_targets = ld_val['Interest.Rate']

In [621]:
from sklearn.linear_model import LinearRegression

In [622]:
lm = LinearRegression()

In [623]:
lm.fit(X = train_features,y = train_targets)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [624]:
print(train_features.columns)
print(lm.coef_)

Index(['Amount.Requested', 'Debt.To.Income.Ratio', 'Monthly.Income',
       'FICO.Range', 'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance',
       'Inquiries.in.the.Last.6.Months', 'Employment.Length', 'Ho_MORTGAGE',
       'Ho_OWN', 'Ho_RENT', 'loan_period', 'Loan_purpose_car',
       'Loan_purpose_credit_card', 'Loan_purpose_debt_consolidation',
       'Loan_purpose_educational', 'Loan_purpose_home_improvement',
       'Loan_purpose_house', 'Loan_purpose_major_purchase',
       'Loan_purpose_medical', 'Loan_purpose_moving', 'Loan_purpose_other',
       'Loan_purpose_renewable_energy', 'Loan_purpose_small_business',
       'Loan_purpose_vacation', 'Loan_purpose_wedding'],
      dtype='object')
[ 1.62611800e-04  2.10005610e-03 -3.91728553e-05 -8.67329733e-02
 -3.57094777e-02 -6.52240916e-06  3.35143395e-01  1.20912598e-02
 -3.09733364e+00 -2.75401354e+00 -2.86336924e+00  3.17808332e+00
 -1.23421780e+00 -1.82684278e+00 -1.67641662e+00 -1.57415504e+00
 -1.54988543e+00 -7.67217663e-01 -1.26743002e+00 -1.55833949e+00
 -6.09627513e-02 -8.11710809e-01 -1.16510066e+00 -1.37561012e+00
 -6.37424235e-01 -1.85996811e+00]

In [625]:
lm.intercept_

76.53264572802546

In [626]:
list(zip(train_features.columns,lm.coef_))

[('Amount.Requested', 0.0001626118003069077),
 ('Debt.To.Income.Ratio', 0.00210005610192716),
 ('Monthly.Income', -3.917285530189738e-05),
 ('FICO.Range', -0.08673297330556806),
 ('Open.CREDIT.Lines', -0.03570947766587307),
 ('Revolving.CREDIT.Balance', -6.522409164356296e-06),
 ('Inquiries.in.the.Last.6.Months', 0.3351433949939725),
 ('Employment.Length', 0.012091259774834374),
 ('Ho_MORTGAGE', -3.0973336357067716),
 ('Ho_OWN', -2.7540135416953713),
 ('Ho_RENT', -2.8633692428552258),
 ('loan_period', 3.178083323526181),
 ('Loan_purpose_car', -1.2342178009250306),
 ('Loan_purpose_credit_card', -1.8268427836388395),
 ('Loan_purpose_debt_consolidation', -1.6764166187291865),
 ('Loan_purpose_educational', -1.5741550436164204),
 ('Loan_purpose_home_improvement', -1.549885433885261),
 ('Loan_purpose_house', -0.7672176631125631),
 ('Loan_purpose_major_purchase', -1.2674300186752219),
 ('Loan_purpose_medical', -1.5583394903654488),
 ('Loan_purpose_moving', -0.06096275127054242),
 ('Loan_purpose_other', -0.8117108085652819),
 ('Loan_purpose_renewable_energy', -1.165100661590295),
 ('Loan_purpose_small_business', -1.3756101172959752),
 ('Loan_purpose_vacation', -0.637424235039647),
 ('Loan_purpose_wedding', -1.8599681086132351)]

In [627]:
train_features.shape, val_features.shape

((1758, 26), (440, 26))

In [628]:
train_predictions = lm.predict(train_features) 

val_predictions = lm.predict(val_features)

In [629]:
train_predictions.shape, val_predictions.shape

((1758,), (440,))

In [630]:
def MAPE(target_vector, predicted_vector):
    abs_error = np.absolute(target_vector - predicted_vector)
    percent_abs_error = abs_error/target_vector
    mean_abs_percentage_error = np.mean(percent_abs_error)
    return(mean_abs_percentage_error)

In [631]:
train_MAPE = MAPE(train_targets,train_predictions)

val_MAPE = MAPE(val_targets,val_predictions)

print('Train MAPE : ',train_MAPE)

print('Val MAPE : ',val_MAPE)

Train MAPE :  0.13631182809126757
Val MAPE :  0.13885216549908627

In [632]:
x_train=loan_train.drop('Interest.Rate',axis=1)

y_train=loan_train['Interest.Rate']

In [633]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [634]:
test_pred=lm.predict(loan_test)

In [635]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

In [636]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [637]:
lambdas=np.linspace(1,100,100)

In [638]:
params={'alpha':lambdas}

In [639]:
model=Ridge(fit_intercept=True)

In [640]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [641]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35....,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [642]:
grid_search.best_estimator_

Ridge(alpha=15.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [643]:
grid_search.cv_results_

{'mean_fit_time': array([0.00468702, 0.00468717, 0.00624957, 0.00937459, 0.01249871,
        0.00624893, 0.0078126 , 0.00468776, 0.00624988, 0.00713017,
        0.00781155, 0.00651374, 0.00781202, 0.00781281, 0.00781219,
        0.00624995, 0.00781176, 0.0062494 , 0.00468724, 0.00781202,
        0.00624897, 0.00312448, 0.00624959, 0.00468762, 0.00861135,
        0.006145  , 0.00937414, 0.0093749 , 0.00468655, 0.00624964,
        0.00781128, 0.00624967, 0.00624955, 0.00468712, 0.0078119 ,
        0.00468647, 0.00468674, 0.00781229, 0.00468719, 0.00468776,
        0.00781193, 0.00312459, 0.00781214, 0.00468721, 0.0046875 ,
        0.00624969, 0.00468762, 0.00625031, 0.00937393, 0.00624921,
        0.00781209, 0.00781164, 0.00781245, 0.00624945, 0.00937376,
        0.00781188, 0.00781212, 0.00468686, 0.00937421, 0.00781293,
        0.00781178, 0.00624986, 0.00624955, 0.00781238, 0.00624959,
        0.00625026, 0.00625007, 0.00624938, 0.00624931, 0.00781229,
        0.007812  , 0.0062495 , 0.00468752, 0.00937352, 0.00624895,
        0.00937445, 0.00624983, 0.00624881, 0.00937479, 0.00468767,
        0.00624993, 0.00624967, 0.00312529, 0.00781195, 0.00781147,
        0.00937443, 0.00781198, 0.00468709, 0.00781202, 0.00624971,
        0.00468664, 0.00468731, 0.00937407, 0.00156286, 0.00624907,
        0.00781198, 0.00624928, 0.00468721, 0.00624962, 0.0046865 ]),
 'std_fit_time': array([0.00715955, 0.00715976, 0.00765413, 0.00765432, 0.00624936,
        0.00765334, 0.0078126 , 0.00716068, 0.00765451, 0.00582612,
        0.00781155, 0.00567811, 0.00781202, 0.00781281, 0.00781219,
        0.0076546 , 0.00781176, 0.00765393, 0.00715987, 0.00781202,
        0.0076534 , 0.00624895, 0.00765416, 0.00716046, 0.00736805,
        0.00683195, 0.01431924, 0.00765458, 0.00715882, 0.00765422,
        0.00781128, 0.00765425, 0.0076541 , 0.00715969, 0.0078119 ,
        0.00715871, 0.00715911, 0.00781229, 0.0071598 , 0.00716068,
        0.00781193, 0.00624919, 0.00781214, 0.00715984, 0.00716027,
        0.00765428, 0.00716046, 0.00765504, 0.00765378, 0.00765369,
        0.00781209, 0.00781164, 0.00781245, 0.00765398, 0.00765364,
        0.00781188, 0.00781212, 0.00715929, 0.00765401, 0.00781293,
        0.00781178, 0.00765448, 0.0076541 , 0.00781238, 0.00765416,
        0.00765498, 0.00765474, 0.0076539 , 0.00765381, 0.00781229,
        0.007812  , 0.00765404, 0.00716031, 0.00765345, 0.00765337,
        0.00765421, 0.00765445, 0.0076532 , 0.00765448, 0.00716053,
        0.00765457, 0.00765425, 0.00625057, 0.00781195, 0.00781147,
        0.00765419, 0.00781198, 0.00715966, 0.00781202, 0.00765431,
        0.00715896, 0.00715998, 0.0076539 , 0.00468857, 0.00765352,
        0.00781198, 0.00765378, 0.00715984, 0.00765419, 0.00715875]),
 'mean_score_time': array([0.00156305, 0.00468609, 0.00468712, 0.00156243, 0.00312486,
        0.00312493, 0.        , 0.00156195, 0.00156229, 0.00344553,
        0.00312541, 0.00079939, 0.00156178, 0.        , 0.00156178,
        0.00468731, 0.00156248, 0.00468743, 0.0015619 , 0.00156236,
        0.00156229, 0.00624952, 0.00312476, 0.00312431, 0.00221572,
        0.00186262, 0.00468752, 0.00156229, 0.00312471, 0.00156298,
        0.00312495, 0.00312476, 0.00156233, 0.00156233, 0.00312495,
        0.0015624 , 0.00312505, 0.        , 0.00624938, 0.00156238,
        0.00156229, 0.00468712, 0.00156193, 0.00312419, 0.00468743,
        0.        , 0.00312488, 0.00312479, 0.00156243, 0.00312493,
        0.        , 0.0015626 , 0.        , 0.0031261 , 0.00156243,
        0.0031255 , 0.00156224, 0.00468755, 0.00312495, 0.00156162,
        0.00156238, 0.00312481, 0.00156233, 0.00156212, 0.00312421,
        0.00468667, 0.00156236, 0.00312505, 0.00156264, 0.00156214,
        0.00156231, 0.00156243, 0.00312469, 0.0015626 , 0.0015624 ,
        0.00156231, 0.00156221, 0.00312467, 0.00156183, 0.00468683,
        0.        , 0.00312469, 0.00312443, 0.0015624 , 0.00312481,
        0.00156233, 0.00156295, 0.0015624 , 0.00156221, 0.00156238,
        0.00468712, 0.00156283, 0.00312479, 0.00312479, 0.00312488,
        0.        , 0.00312569, 0.00312476, 0.        , 0.00312412]),
 'std_score_time': array([0.00468915, 0.00715813, 0.00715969, 0.00468729, 0.00624971,
        0.00624986, 0.        , 0.00468585, 0.00468686, 0.00534941,
        0.00625081, 0.0010763 , 0.00468535, 0.        , 0.00468535,
        0.00715998, 0.00468743, 0.00716017, 0.00468571, 0.00468707,
        0.00468686, 0.00765407, 0.00624952, 0.00624862, 0.00571795,
        0.00467475, 0.00716031, 0.00468686, 0.00624943, 0.00468893,
        0.0062499 , 0.00624952, 0.004687  , 0.004687  , 0.0062499 ,
        0.00468721, 0.0062501 , 0.        , 0.0076539 , 0.00468714,
        0.00468686, 0.00715969, 0.00468578, 0.00624838, 0.00716017,
        0.        , 0.00624976, 0.00624957, 0.00468729, 0.00624986,
        0.        , 0.00468779, 0.        , 0.00625219, 0.00468729,
        0.006251  , 0.00468671, 0.00716035, 0.0062499 , 0.00468485,
        0.00468714, 0.00624962, 0.004687  , 0.00468636, 0.00624843,
        0.007159  , 0.00468707, 0.0062501 , 0.00468793, 0.00468643,
        0.00468693, 0.00468729, 0.00624938, 0.00468779, 0.00468721,
        0.00468693, 0.00468664, 0.00624933, 0.0046855 , 0.00715925,
        0.        , 0.00624938, 0.00624886, 0.00468721, 0.00624962,
        0.004687  , 0.00468886, 0.00468721, 0.00468664, 0.00468714,
        0.00715969, 0.0046885 , 0.00624957, 0.00624957, 0.00624976,
        0.        , 0.00625138, 0.00624952, 0.        , 0.00624824]),
 'param_alpha': masked_array(data=[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,
                    11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
                    20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0,
                    29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0,
                    38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0,
                    47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
                    56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0,
                    65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0,
                    74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0,
                    83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0,
                    92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1.0},
  {'alpha': 2.0},
  {'alpha': 3.0},
  {'alpha': 4.0},
  {'alpha': 5.0},
  {'alpha': 6.0},
  {'alpha': 7.0},
  {'alpha': 8.0},
  {'alpha': 9.0},
  {'alpha': 10.0},
  {'alpha': 11.0},
  {'alpha': 12.0},
  {'alpha': 13.0},
  {'alpha': 14.0},
  {'alpha': 15.0},
  {'alpha': 16.0},
  {'alpha': 17.0},
  {'alpha': 18.0},
  {'alpha': 19.0},
  {'alpha': 20.0},
  {'alpha': 21.0},
  {'alpha': 22.0},
  {'alpha': 23.0},
  {'alpha': 24.0},
  {'alpha': 25.0},
  {'alpha': 26.0},
  {'alpha': 27.0},
  {'alpha': 28.0},
  {'alpha': 29.0},
  {'alpha': 30.0},
  {'alpha': 31.0},
  {'alpha': 32.0},
  {'alpha': 33.0},
  {'alpha': 34.0},
  {'alpha': 35.0},
  {'alpha': 36.0},
  {'alpha': 37.0},
  {'alpha': 38.0},
  {'alpha': 39.0},
  {'alpha': 40.0},
  {'alpha': 41.0},
  {'alpha': 42.0},
  {'alpha': 43.0},
  {'alpha': 44.0},
  {'alpha': 45.0},
  {'alpha': 46.0},
  {'alpha': 47.0},
  {'alpha': 48.0},
  {'alpha': 49.0},
  {'alpha': 50.0},
  {'alpha': 51.0},
  {'alpha': 52.0},
  {'alpha': 53.0},
  {'alpha': 54.0},
  {'alpha': 55.0},
  {'alpha': 56.0},
  {'alpha': 57.0},
  {'alpha': 58.0},
  {'alpha': 59.0},
  {'alpha': 60.0},
  {'alpha': 61.0},
  {'alpha': 62.0},
  {'alpha': 63.0},
  {'alpha': 64.0},
  {'alpha': 65.0},
  {'alpha': 66.0},
  {'alpha': 67.0},
  {'alpha': 68.0},
  {'alpha': 69.0},
  {'alpha': 70.0},
  {'alpha': 71.0},
  {'alpha': 72.0},
  {'alpha': 73.0},
  {'alpha': 74.0},
  {'alpha': 75.0},
  {'alpha': 76.0},
  {'alpha': 77.0},
  {'alpha': 78.0},
  {'alpha': 79.0},
  {'alpha': 80.0},
  {'alpha': 81.0},
  {'alpha': 82.0},
  {'alpha': 83.0},
  {'alpha': 84.0},
  {'alpha': 85.0},
  {'alpha': 86.0},
  {'alpha': 87.0},
  {'alpha': 88.0},
  {'alpha': 89.0},
  {'alpha': 90.0},
  {'alpha': 91.0},
  {'alpha': 92.0},
  {'alpha': 93.0},
  {'alpha': 94.0},
  {'alpha': 95.0},
  {'alpha': 96.0},
  {'alpha': 97.0},
  {'alpha': 98.0},
  {'alpha': 99.0},
  {'alpha': 100.0}],
 'split0_test_score': array([-1.73226054, -1.73288077, -1.73349172, -1.73409111, -1.73467816,
        -1.73525263, -1.73582566, -1.73642139, -1.73700437, -1.73757506,
        -1.73813397, -1.7386816 , -1.73921844, -1.73974498, -1.74026169,
        -1.74076901, -1.74126736, -1.74175714, -1.74223873, -1.74273257,
        -1.74327455, -1.74380883, -1.74435491, -1.74493334, -1.74550479,
        -1.74606951, -1.74662771, -1.74717959, -1.74772537, -1.74826522,
        -1.74879932, -1.74942212, -1.75004021, -1.75065246, -1.751259  ,
        -1.75185997, -1.75245551, -1.75304573, -1.75363076, -1.75421071,
        -1.7547857 , -1.75535581, -1.75592117, -1.75648185, -1.75703795,
        -1.75758957, -1.75813678, -1.75867966, -1.7592183 , -1.75975277,
        -1.76028315, -1.76080949, -1.76136026, -1.76191518, -1.76246605,
        -1.76303392, -1.76360691, -1.76417584, -1.76474078, -1.76535238,
        -1.76597286, -1.7665891 , -1.76720117, -1.7678091 , -1.76842131,
        -1.76904323, -1.76968049, -1.77032102, -1.77097036, -1.77161566,
        -1.77225696, -1.77289432, -1.77352776, -1.77415735, -1.77478311,
        -1.7754051 , -1.77602334, -1.77663788, -1.77724876, -1.77785602,
        -1.77845969, -1.77905981, -1.77965642, -1.78024954, -1.78083923,
        -1.7814255 , -1.7820084 , -1.78258796, -1.7831642 , -1.78373716,
        -1.78430688, -1.78487338, -1.78543669, -1.78599685, -1.78655388,
        -1.78710781, -1.78765867, -1.78820649, -1.78875129, -1.7892931 ]),
 'split1_test_score': array([-1.73203049, -1.73085127, -1.72973301, -1.72868691, -1.72770933,
        -1.72679454, -1.72596605, -1.7251932 , -1.72446754, -1.72378486,
        -1.72314143, -1.72253704, -1.72202076, -1.72153122, -1.72106644,
        -1.7206246 , -1.72020408, -1.71980341, -1.71942124, -1.71905636,
        -1.71870765, -1.7183741 , -1.71805477, -1.71774881, -1.71745543,
        -1.7171739 , -1.71690356, -1.71664378, -1.71639398, -1.71615365,
        -1.71592228, -1.71570205, -1.71549633, -1.71531085, -1.7151319 ,
        -1.71495918, -1.7147924 , -1.71463128, -1.71447556, -1.71432502,
        -1.71417942, -1.71403855, -1.71390222, -1.71377053, -1.71364925,
        -1.71353195, -1.71341848, -1.71330868, -1.71320241, -1.71309953,
        -1.71299992, -1.71290345, -1.71280999, -1.71271944, -1.7126317 ,
        -1.71254666, -1.71246422, -1.7123859 , -1.71231218, -1.71224095,
        -1.71217211, -1.71210673, -1.712082  , -1.71207301, -1.7120658 ,
        -1.71206029, -1.71205642, -1.71205412, -1.71205334, -1.71205402,
        -1.71205611, -1.71205956, -1.71206431, -1.71207031, -1.71207753,
        -1.71208592, -1.71209543, -1.71210603, -1.71211767, -1.71213033,
        -1.71214396, -1.71215852, -1.712174  , -1.71219034, -1.71220753,
        -1.71222553, -1.712267  , -1.71232255, -1.71237861, -1.71243517,
        -1.71249218, -1.71254965, -1.71260754, -1.71266583, -1.7127245 ,
        -1.71278354, -1.71284293, -1.71290265, -1.71296268, -1.71302301]),
 'split2_test_score': array([-1.76496527, -1.76349664, -1.76218024, -1.76096009, -1.75982786,
        -1.75895516, -1.75840755, -1.75789945, -1.75758851, -1.75749232,
        -1.75743842, -1.75740243, -1.75737973, -1.75736474, -1.75735674,
        -1.75735504, -1.75735908, -1.75736833, -1.75738233, -1.75740066,
        -1.75742294, -1.75744884, -1.75747806, -1.75751032, -1.75754537,
        -1.75758298, -1.75762295, -1.75766508, -1.75770921, -1.75775517,
        -1.75780281, -1.75785202, -1.75790265, -1.7579546 , -1.7580422 ,
        -1.75817946, -1.75831486, -1.75844846, -1.75858031, -1.75871048,
        -1.75883902, -1.75896597, -1.75911644, -1.75930097, -1.7594838 ,
        -1.75966495, -1.75984448, -1.76002241, -1.76019878, -1.76037363,
        -1.76054698, -1.76074164, -1.76095757, -1.76117183, -1.76138445,
        -1.76159546, -1.76180489, -1.76201276, -1.7622191 , -1.76242394,
        -1.76262729, -1.76282918, -1.76302963, -1.76322867, -1.76345599,
        -1.76369844, -1.7639393 , -1.76417857, -1.76441629, -1.76472794,
        -1.76504302, -1.76535591, -1.76566662, -1.7659752 , -1.76628168,
        -1.76658607, -1.76688842, -1.76718875, -1.76748709, -1.76778346,
        -1.76807789, -1.7683704 , -1.76866103, -1.76894978, -1.7692367 ,
        -1.76952179, -1.76980508, -1.7700866 , -1.77036636, -1.77064439,
        -1.7709207 , -1.77120177, -1.77148558, -1.77176762, -1.77204793,
        -1.77232652, -1.77260341, -1.77287861, -1.77315216, -1.77342407]),
 'split3_test_score': array([-1.68442857, -1.6808431 , -1.67880566, -1.67742109, -1.676379  ,
        -1.67554234, -1.67485008, -1.67426631, -1.67375218, -1.67329135,
        -1.67287254, -1.6724877 , -1.67213086, -1.6718634 , -1.67161275,
        -1.67137492, -1.6711481 , -1.67093085, -1.67072198, -1.67052053,
        -1.67032569, -1.67013678, -1.66995324, -1.66981362, -1.66970393,
        -1.66959791, -1.66949524, -1.66939565, -1.6692989 , -1.66920476,
        -1.66911306, -1.66902362, -1.66893629, -1.66885094, -1.66876745,
        -1.6686857 , -1.66860559, -1.66852704, -1.66844996, -1.66837427,
        -1.66829991, -1.66822682, -1.66815492, -1.66808418, -1.66801453,
        -1.66794594, -1.66787836, -1.66781175, -1.66774607, -1.66769264,
        -1.66764215, -1.66759241, -1.66754342, -1.66749513, -1.66744753,
        -1.66740059, -1.6673543 , -1.66730862, -1.66726355, -1.66721906,
        -1.66717514, -1.66713177, -1.66708893, -1.66704661, -1.66700481,
        -1.66696349, -1.66692266, -1.66688229, -1.66684239, -1.66680293,
        -1.66676391, -1.66672532, -1.66668714, -1.66664938, -1.66661201,
        -1.66657504, -1.66653845, -1.66650224, -1.6664664 , -1.66644124,
        -1.66641819, -1.6663954 , -1.66637288, -1.66635062, -1.66632861,
        -1.66630686, -1.66628535, -1.66626408, -1.66624305, -1.66622224,
        -1.66620167, -1.66618132, -1.66616119, -1.66614128, -1.66612157,
        -1.66610208, -1.6660828 , -1.66606371, -1.66604483, -1.66602614]),
 'split4_test_score': array([-1.42422454, -1.4238974 , -1.42362691, -1.42336426, -1.42310864,
        -1.42285963, -1.4226168 , -1.42237973, -1.42214803, -1.42192135,
        -1.42169935, -1.42148172, -1.42126819, -1.42107024, -1.42090205,
        -1.42073702, -1.42057496, -1.42041568, -1.42025904, -1.42010488,
        -1.41995306, -1.41980346, -1.41968461, -1.41957315, -1.41947035,
        -1.41939402, -1.41931899, -1.41924521, -1.41917259, -1.41910108,
        -1.41903063, -1.41896117, -1.41889265, -1.41882504, -1.41875829,
        -1.41869236, -1.41865006, -1.41863185, -1.41861404, -1.41859662,
        -1.41857955, -1.41858649, -1.41864354, -1.41871734, -1.41879095,
        -1.41886435, -1.41893752, -1.41901047, -1.41908316, -1.4191556 ,
        -1.41922778, -1.41929968, -1.41937131, -1.41944264, -1.41951369,
        -1.41958443, -1.41965488, -1.41972501, -1.41979484, -1.41986434,
        -1.41993353, -1.42000241, -1.42008933, -1.42021155, -1.4203332 ,
        -1.42045429, -1.42057481, -1.42069478, -1.42081418, -1.42093303,
        -1.42105131, -1.42116903, -1.4212862 , -1.4214028 , -1.42151885,
        -1.42163435, -1.42174929, -1.42186368, -1.42197752, -1.42209081,
        -1.42220356, -1.42231577, -1.42242743, -1.42253856, -1.42264915,
        -1.42275921, -1.42286873, -1.42297773, -1.42308621, -1.4232228 ,
        -1.42336617, -1.42350883, -1.42365077, -1.42379199, -1.4239325 ,
        -1.42407231, -1.42421142, -1.42434984, -1.42448756, -1.4246246 ]),
 'split5_test_score': array([-1.60653717, -1.60559773, -1.60496579, -1.60448528, -1.60408644,
        -1.60373427, -1.60340964, -1.60310144, -1.60280296, -1.60250997,
        -1.60221981, -1.60197216, -1.60172489, -1.60147688, -1.60122769,
        -1.60097707, -1.6007249 , -1.60047113, -1.60021579, -1.59996243,
        -1.59972768, -1.59949136, -1.59925359, -1.59901449, -1.59877419,
        -1.5985328 , -1.59829045, -1.59804725, -1.59780331, -1.59755873,
        -1.59731363, -1.59706809, -1.5968222 , -1.59657605, -1.59633537,
        -1.59612189, -1.59590813, -1.59569418, -1.59548008, -1.59526591,
        -1.59505172, -1.59483756, -1.59462349, -1.59440955, -1.59419578,
        -1.59398223, -1.59376894, -1.59355594, -1.59334643, -1.59318027,
        -1.5930142 , -1.59285533, -1.5927345 , -1.59261365, -1.59252774,
        -1.59246168, -1.59240331, -1.59236385, -1.59236438, -1.59236603,
        -1.59239088, -1.59241476, -1.59243769, -1.59245971, -1.59248086,
        -1.59250116, -1.59252063, -1.59253932, -1.59255723, -1.5925744 ,
        -1.59259085, -1.5926066 , -1.59269228, -1.59278949, -1.59288551,
        -1.59298036, -1.5930855 , -1.59318989, -1.59329312, -1.59340475,
        -1.59356138, -1.59371669, -1.59387071, -1.59402346, -1.59417495,
        -1.59432521, -1.59447425, -1.59462736, -1.59480942, -1.59499014,
        -1.59516952, -1.59534758, -1.59552435, -1.59569984, -1.59587406,
        -1.59604704, -1.59621878, -1.59638931, -1.59656617, -1.59675554]),
 'split6_test_score': array([-1.41195304, -1.41206467, -1.41216322, -1.41225759, -1.41237753,
        -1.41254552, -1.41270988, -1.41289324, -1.41310528, -1.4133131 ,
        -1.41351677, -1.41371639, -1.41391209, -1.41410397, -1.41429216,
        -1.4144768 , -1.41465801, -1.41483593, -1.41501067, -1.41519149,
        -1.41539021, -1.41558589, -1.41577865, -1.41596861, -1.41615586,
        -1.41634051, -1.41652496, -1.41679415, -1.41706751, -1.41733815,
        -1.41760613, -1.41787153, -1.41813442, -1.41839488, -1.41865295,
        -1.4189087 , -1.4191622 , -1.41941349, -1.41966263, -1.41990966,
        -1.42015465, -1.42039762, -1.42063864, -1.42087774, -1.42111496,
        -1.42135034, -1.42158391, -1.42181573, -1.42204581, -1.42227419,
        -1.42250091, -1.42273507, -1.42296784, -1.42319899, -1.42342855,
        -1.42365656, -1.42388358, -1.42412287, -1.42436059, -1.42459675,
        -1.42483139, -1.42506451, -1.42529616, -1.42552634, -1.42575508,
        -1.42598241, -1.42620833, -1.42643287, -1.42665604, -1.42687788,
        -1.42709838, -1.42731758, -1.42753548, -1.42775211, -1.42796747,
        -1.42822117, -1.42849052, -1.42875836, -1.42905545, -1.4293548 ,
        -1.42965251, -1.42994859, -1.43024749, -1.43055407, -1.43087318,
        -1.43126387, -1.43166885, -1.4320717 , -1.43247242, -1.43287104,
        -1.43326758, -1.43366206, -1.43405449, -1.43444489, -1.43483328,
        -1.43521968, -1.4356041 , -1.43598657, -1.43636709, -1.43674569]),
 'split7_test_score': array([-1.53223896, -1.53169913, -1.53123294, -1.53082137, -1.53045561,
        -1.53012974, -1.52983914, -1.52958003, -1.52934921, -1.52914391,
        -1.52896175, -1.52880062, -1.52865867, -1.52853426, -1.52842592,
        -1.52833234, -1.52825236, -1.52818491, -1.52812905, -1.52808389,

In [644]:
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [645]:
report(grid_search.cv_results_,100)

Model with rank: 1
Mean validation score: -1.602 (std: 0.120)
Parameters: {'alpha': 15.0}

Model with rank: 2
Mean validation score: -1.602 (std: 0.120)
Parameters: {'alpha': 16.0}

Model with rank: 3
Mean validation score: -1.602 (std: 0.120)
Parameters: {'alpha': 14.0}

Model with rank: 4
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 17.0}

Model with rank: 5
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 18.0}

Model with rank: 6
Mean validation score: -1.602 (std: 0.120)
Parameters: {'alpha': 13.0}

Model with rank: 7
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 19.0}

Model with rank: 8
Mean validation score: -1.602 (std: 0.120)
Parameters: {'alpha': 12.0}

Model with rank: 9
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 20.0}

Model with rank: 10
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 21.0}

Model with rank: 11
Mean validation score: -1.602 (std: 0.120)
Parameters: {'alpha': 11.0}

Model with rank: 12
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 22.0}

Model with rank: 13
Mean validation score: -1.602 (std: 0.120)
Parameters: {'alpha': 10.0}

Model with rank: 14
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 23.0}

Model with rank: 15
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 9.0}

Model with rank: 16
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 24.0}

Model with rank: 17
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 25.0}

Model with rank: 18
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 8.0}

Model with rank: 19
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 26.0}

Model with rank: 20
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 27.0}

Model with rank: 21
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 7.0}

Model with rank: 22
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 28.0}

Model with rank: 23
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 6.0}

Model with rank: 24
Mean validation score: -1.602 (std: 0.121)
Parameters: {'alpha': 29.0}

Model with rank: 25
Mean validation score: -1.603 (std: 0.121)
Parameters: {'alpha': 30.0}

Model with rank: 26
Mean validation score: -1.603 (std: 0.121)
Parameters: {'alpha': 31.0}

Model with rank: 27
Mean validation score: -1.603 (std: 0.121)
Parameters: {'alpha': 5.0}

Model with rank: 28
Mean validation score: -1.603 (std: 0.121)
Parameters: {'alpha': 32.0}

Model with rank: 29
Mean validation score: -1.603 (std: 0.121)
Parameters: {'alpha': 33.0}

Model with rank: 30
Mean validation score: -1.603 (std: 0.121)
Parameters: {'alpha': 34.0}

Model with rank: 31
Mean validation score: -1.603 (std: 0.121)
Parameters: {'alpha': 4.0}

Model with rank: 32
Mean validation score: -1.603 (std: 0.121)
Parameters: {'alpha': 35.0}

Model with rank: 33
Mean validation score: -1.603 (std: 0.121)
Parameters: {'alpha': 36.0}

Model with rank: 34
Mean validation score: -1.603 (std: 0.121)
Parameters: {'alpha': 3.0}

Model with rank: 35
Mean validation score: -1.603 (std: 0.121)
Parameters: {'alpha': 37.0}

Model with rank: 36
Mean validation score: -1.604 (std: 0.121)
Parameters: {'alpha': 38.0}

Model with rank: 37
Mean validation score: -1.604 (std: 0.121)
Parameters: {'alpha': 39.0}

Model with rank: 38
Mean validation score: -1.604 (std: 0.121)
Parameters: {'alpha': 40.0}

Model with rank: 39
Mean validation score: -1.604 (std: 0.122)
Parameters: {'alpha': 2.0}

Model with rank: 40
Mean validation score: -1.604 (std: 0.121)
Parameters: {'alpha': 41.0}

Model with rank: 41
Mean validation score: -1.604 (std: 0.121)
Parameters: {'alpha': 42.0}

Model with rank: 42
Mean validation score: -1.604 (std: 0.121)
Parameters: {'alpha': 43.0}

Model with rank: 43
Mean validation score: -1.604 (std: 0.121)
Parameters: {'alpha': 44.0}

Model with rank: 44
Mean validation score: -1.604 (std: 0.122)
Parameters: {'alpha': 1.0}

Model with rank: 45
Mean validation score: -1.605 (std: 0.121)
Parameters: {'alpha': 45.0}

Model with rank: 46
Mean validation score: -1.605 (std: 0.122)
Parameters: {'alpha': 46.0}

Model with rank: 47
Mean validation score: -1.605 (std: 0.122)
Parameters: {'alpha': 47.0}

Model with rank: 48
Mean validation score: -1.605 (std: 0.122)
Parameters: {'alpha': 48.0}

Model with rank: 49
Mean validation score: -1.605 (std: 0.122)
Parameters: {'alpha': 49.0}

Model with rank: 50
Mean validation score: -1.605 (std: 0.122)
Parameters: {'alpha': 50.0}

Model with rank: 51
Mean validation score: -1.605 (std: 0.122)
Parameters: {'alpha': 51.0}

Model with rank: 52
Mean validation score: -1.606 (std: 0.122)
Parameters: {'alpha': 52.0}

Model with rank: 53
Mean validation score: -1.606 (std: 0.122)
Parameters: {'alpha': 53.0}

Model with rank: 54
Mean validation score: -1.606 (std: 0.122)
Parameters: {'alpha': 54.0}

Model with rank: 55
Mean validation score: -1.606 (std: 0.122)
Parameters: {'alpha': 55.0}

Model with rank: 56
Mean validation score: -1.606 (std: 0.122)
Parameters: {'alpha': 56.0}

Model with rank: 57
Mean validation score: -1.607 (std: 0.122)
Parameters: {'alpha': 57.0}

Model with rank: 58
Mean validation score: -1.607 (std: 0.122)
Parameters: {'alpha': 58.0}

Model with rank: 59
Mean validation score: -1.607 (std: 0.122)
Parameters: {'alpha': 59.0}

Model with rank: 60
Mean validation score: -1.607 (std: 0.122)
Parameters: {'alpha': 60.0}

Model with rank: 61
Mean validation score: -1.607 (std: 0.122)
Parameters: {'alpha': 61.0}

Model with rank: 62
Mean validation score: -1.608 (std: 0.122)
Parameters: {'alpha': 62.0}

Model with rank: 63
Mean validation score: -1.608 (std: 0.122)
Parameters: {'alpha': 63.0}

Model with rank: 64
Mean validation score: -1.608 (std: 0.122)
Parameters: {'alpha': 64.0}

Model with rank: 65
Mean validation score: -1.608 (std: 0.122)
Parameters: {'alpha': 65.0}

Model with rank: 66
Mean validation score: -1.609 (std: 0.122)
Parameters: {'alpha': 66.0}

Model with rank: 67
Mean validation score: -1.609 (std: 0.122)
Parameters: {'alpha': 67.0}

Model with rank: 68
Mean validation score: -1.609 (std: 0.122)
Parameters: {'alpha': 68.0}

Model with rank: 69
Mean validation score: -1.609 (std: 0.122)
Parameters: {'alpha': 69.0}

Model with rank: 70
Mean validation score: -1.610 (std: 0.122)
Parameters: {'alpha': 70.0}

Model with rank: 71
Mean validation score: -1.610 (std: 0.123)
Parameters: {'alpha': 71.0}

Model with rank: 72
Mean validation score: -1.610 (std: 0.123)
Parameters: {'alpha': 72.0}

Model with rank: 73
Mean validation score: -1.610 (std: 0.123)
Parameters: {'alpha': 73.0}

Model with rank: 74
Mean validation score: -1.611 (std: 0.123)
Parameters: {'alpha': 74.0}

Model with rank: 75
Mean validation score: -1.611 (std: 0.123)
Parameters: {'alpha': 75.0}

Model with rank: 76
Mean validation score: -1.611 (std: 0.123)
Parameters: {'alpha': 76.0}

Model with rank: 77
Mean validation score: -1.611 (std: 0.123)
Parameters: {'alpha': 77.0}

Model with rank: 78
Mean validation score: -1.612 (std: 0.123)
Parameters: {'alpha': 78.0}

Model with rank: 79
Mean validation score: -1.612 (std: 0.123)
Parameters: {'alpha': 79.0}

Model with rank: 80
Mean validation score: -1.612 (std: 0.123)
Parameters: {'alpha': 80.0}

Model with rank: 81
Mean validation score: -1.612 (std: 0.123)
Parameters: {'alpha': 81.0}

Model with rank: 82
Mean validation score: -1.613 (std: 0.123)
Parameters: {'alpha': 82.0}

Model with rank: 83
Mean validation score: -1.613 (std: 0.123)
Parameters: {'alpha': 83.0}

Model with rank: 84
Mean validation score: -1.613 (std: 0.123)
Parameters: {'alpha': 84.0}

Model with rank: 85
Mean validation score: -1.614 (std: 0.123)
Parameters: {'alpha': 85.0}

Model with rank: 86
Mean validation score: -1.614 (std: 0.123)
Parameters: {'alpha': 86.0}

Model with rank: 87
Mean validation score: -1.614 (std: 0.123)
Parameters: {'alpha': 87.0}

Model with rank: 88
Mean validation score: -1.614 (std: 0.123)
Parameters: {'alpha': 88.0}

Model with rank: 89
Mean validation score: -1.615 (std: 0.123)
Parameters: {'alpha': 89.0}

Model with rank: 90
Mean validation score: -1.615 (std: 0.123)
Parameters: {'alpha': 90.0}

Model with rank: 91
Mean validation score: -1.615 (std: 0.123)
Parameters: {'alpha': 91.0}

Model with rank: 92
Mean validation score: -1.616 (std: 0.123)
Parameters: {'alpha': 92.0}

Model with rank: 93
Mean validation score: -1.616 (std: 0.123)
Parameters: {'alpha': 93.0}

Model with rank: 94
Mean validation score: -1.616 (std: 0.123)
Parameters: {'alpha': 94.0}

Model with rank: 95
Mean validation score: -1.616 (std: 0.124)
Parameters: {'alpha': 95.0}

Model with rank: 96
Mean validation score: -1.617 (std: 0.124)
Parameters: {'alpha': 96.0}

Model with rank: 97
Mean validation score: -1.617 (std: 0.124)
Parameters: {'alpha': 97.0}

Model with rank: 98
Mean validation score: -1.617 (std: 0.124)
Parameters: {'alpha': 98.0}

Model with rank: 99
Mean validation score: -1.618 (std: 0.124)
Parameters: {'alpha': 99.0}

Model with rank: 100
Mean validation score: -1.618 (std: 0.124)
Parameters: {'alpha': 100.0}

In [646]:
test_pred=grid_search.predict(loan_test)

In [647]:
pd.DataFrame(test_pred).to_csv("submission.csv",index=False)